@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    --primary-color: #f12828;
    --secondary-color: #0d95f0;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
}

h1{
    color: var(--primary-color);
}

h2{
    color: var(--secondary-color);
}

.p-btn{
    background-color: var(--primary-color);
}
.s-btn{
    background-color: var(--secondary-color);
}